/* COMMON CSS */

a,
a:hover {
  text-decoration: none;
}

#heading-blue {
  color: #0E75BB;
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0px 0px 2px #fff;
}

#double-shaded-text,
#double-shaded-text-blue {
  text-align: center;
  font-size: 2.5rem;
}

#double-shaded-text>span,
#double-shaded-text-blue {
  font-weight: 700;
  text-align: center;
}

#double-shaded-text>span:first-child {
  color: #000;
}

#double-shaded-text>span:last-child {
  color: #888;
}

#double-shaded-text-blue>span:last-child {
  color: #0E75BB;
}

#double-shaded-text-blue>span:first-child {
  color: #000;
}

/* COMMON CSS END*/



/* TOP BANNER */


#top-banner>.container>.row>div:first-child>img {
  object-position: right;
}

#top-banner>.container>.row>div:last-child>h1 {
  font-weight: 700;
  font-size: 1.2rem;
  color: #3F87A0;
  /* text-align: center; */
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}

#top-banner>.container>.row>div:last-child>p {
  font-size: 2.5rem;
  font-weight: 700;
  color: rgb(17, 44, 107);
  /* text-align: center; */
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}

#contact_us {
  background-color: #3F87A0;
}

#contact_us>.row>div:first-child {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#contact_us>.row>div:first-child>h3 {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  /* letter-spacing: 0.2rem; */
  text-shadow: 0px 0px 1px #fff;
}

#contact_us>.row>div:first-child>p {
  color: #fff;
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
}

#cards .card {
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
  transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
  padding: 14px 80px 18px 36px;
  cursor: pointer;
}

#cards .card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}

#cards .card h3 {
  font-weight: 600;
}

#cards .card img {
  position: absolute;
  top: 20px;
  right: 15px;
  max-height: 120px;
}

#cards .card-1 {
  background-image: url(https://ionicframework.com/img/getting-started/ionic-native-card.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 80px;
}

#cards .card-2 {
  background-image: url(https://ionicframework.com/img/getting-started/components-card.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 80px;
}

#cards .card-3 {
  background-image: url(https://ionicframework.com/img/getting-started/theming-card.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 80px;
}

@media(max-width: 990px) {
  #cards .card {
    margin: 20px;
  }
}

